.navbar{
    padding: 10px;
}
.nav-link{
    font-size:20px;
}
.navbar-nav{
    justify-content: center;
    position: absolute;
    left:50%;
    transform:translateX(-50%);
}
.navbar-brand{
    font-size:24px;
}
ul li .button-nav{
    justify-content: right;
    position: absolute;
    left:90%;
    transform:translateX(-50%);
}
